.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.header{
  margin-bottom: 15px;
}

.contact-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #51557E;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto 24px auto;
}

.contact-photo{
  padding: 25px;
  display: flex;
}

.contact-photo img {
  border-radius: 50%;
  height: 150px;
}

.contact-detail {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
  line-height: 0;
}